@use '../common' as *;
@use 'container';

$header-height: var(--header-height);
$min-height: calc(100vh - var(--header-height));

.hero {
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  @media (min-width: ($laptop + 1)) {
    background-image: image-set(
    url('@images/hero/webp/background_1920.webp') type("image/webp"),
    url('@images/hero/background_1920.jpg')
    );
  }
  @media (max-width: $laptop) {
    background-image: image-set(
    url('@images/hero/webp/background_1024.webp') type("image/webp"),
    url('@images/hero/background_1024.jpg')
    );
  }
  @media (max-width: $tablet) {
    background-image: image-set(
    url('@images/hero/webp/background_768.webp') type("image/webp"),
    url('@images/hero/background_768.jpg')
    );
  }
  @media (max-width: $mobile) {
    background-image: image-set(
    url('@images/hero/webp/background_500.webp') type("image/webp"),
    url('@images/hero/background_500.jpg')
    );
  }
  &__container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__separator {
    max-height: $gap-large;
    flex: 1 0 $gap-medium;
    margin: 0;
    visibility: hidden;
    box-sizing: border-box;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    &-inner {
      font-size: toRem(20);
    }
    &-header {
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: container.$padding $gap-medium;
  }

  @media (orientation: landscape) {
    min-height: $min-height;
  }
  @media (max-width: $tablet) {
    background-position: left;
    &__separator {
      flex: 1 0 container.$padding;
    }
  }
  @media (max-width: $mobile) {
    min-height: 100vh;
  }
}