@use '../common' as *;
@use 'container';

$header-height: var(--header-height);
$min-height: calc(100vh - var(--header-height));

.hero {
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  background-image: url('@images/hero/background.jpg');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  &__container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    word-break: break-word;
  }
  &__separator {
    max-height: 80px;
    flex: 1 0 $gap-large;
    margin: 0;
    visibility: hidden;
    box-sizing: border-box;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    &-inner {
      font-size: toRem(20);
    }
    &-header {
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: container.$padding $gap-large;
  }

  @media (orientation: landscape) {
    min-height: $min-height;
  }
  @media (max-width: $mobile) {
    min-height: 100vh;
    background-position: left;
    &__separator {
      flex: 1 0 container.$padding;
    }
  }
}