@use '../common/variables/colors' as *;
@use '../common/functions' as *;

@mixin touch-screen-only {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin focus-item {
  outline: toRem(4) $blue solid;
  outline-offset: toRem(4);
  transition: outline 0s;
}

@mixin background-image_webp($path-webp, $path-other, $alias: '@images') {
  $alias: $alias + '/';
  background-image: url($alias + $path-other);
  @supports (background-image: -webkit-image-set(url() 1x)) {
    background-image: url($alias + $path-webp);
  }
}